allowRecreate=false // set to false to prevent accidental re-creation
schema = 'chemcentral_01'
user='chemcentral'
password='chemcentral'
standardizer='src/misc/standardizer.xml'
processors=4
reportingChunk=10000

