// example drugbank.properties. Rename file and edit accordingly

import chemaxon.jchem.db.TableTypeConstants


url='jdbc:postgresql://localhost:49153/chemdbs'
user='vendordbs'
password='vendordbs'
schema='vendordbs'
table='DRUGBANK_FEB_2014'
tableType=TableTypeConstants.TABLE_TYPE_MOLECULES
standardizer='src/misc/standardizer.xml'
extraColumnDefs=['DRUGBANK_ID CHAR(7)', 'DRUG_GROUPS VARCHAR(100)']

// download drugbank from http://www.drugbank.ca/downloads
file='all.sdf'
path='/home/timbo/data/structures/drugbank'
fields=[DRUGBANK_ID:String.class, DRUG_GROUPS:String.class]

