// example drugbank.properties. Rename file and edit accordingly

import chemaxon.jchem.db.TableTypeConstants


user='vendordbs'
password='vendordbs'
schema='vendordbs'
table='drugbank_feb_2014'

tableType=TableTypeConstants.TABLE_TYPE_MOLECULES
standardizer='src/misc/standardizer.xml'
extraColumnDefs=['drugbank_id CHAR(7)', 'drug_groups VARCHAR(100)', 'generic_name TEXT', 'brands TEXT']

// download drugbank from http://www.drugbank.ca/downloads
file='all.sdf'
path='/home/timbo/data/structures/drugbank'
fields=[drugbank_id:String.class, drug_groups:String.class, generic_name:String.class, brands:String.class]
reportingChunk=100



// Chemcentral stuff
name='DrugBank'
description='DrugBank Feb 2014'
owner='public'
maintainer='timdudgeon'
offset=0