// example molport.properties. Rename file and edit accordingly

import chemaxon.jchem.db.TableTypeConstants

user='vendordbs'
password='vendordbs'
schema='vendordbs'
table='MOLPORT_SEP_2014'
tableType=TableTypeConstants.TABLE_TYPE_MOLECULES
standardizer='src/misc/standardizer.xml'
extraColumnDefs=['REGID VARCHAR(32)']

// you need to register with MolPort to get a login ID to allow to download
path='/home/timbo/data/structures/molport/AllAvailableCompounds'
fields=[PUBCHEM_EXT_DATASOURCE_REGID:String.class]

